<% title "About" %>
<div class="content about">
    <div class="video">
      <object width="750" height="592"><param name="movie" value="http://www.youtube.com/v/_dsSE94r3dA?fs=1&amp;hl=en_US&amp;rel=0&amp;border=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/_dsSE94r3dA?fs=1&amp;hl=en_US&amp;rel=0&amp;border=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="750" height="592"></embed></object>
    </div>
    <br/>
    <h3>Mission</h3>
    <br/>
    <p>
        CrowdVoice brings together the global community with the topics you care about and want to follow. CrowdVoice is user-powered - the submitted information is chosen and approved by the community. Instead of checking news, video and social networking sites for updates on the issues that matter to you, get your fix in one place and join the crowd by adding information or approving what others already submitted.
    </p>
    <br/>
    <h3>People</h3>
    <br/>
    <p>
        CrowdVoice is a project by <a href="http://www.mideastyouth.com">MideastYouth.com</a>, an independent grassroots digital network that leverages the power of new media to facilitate our struggle against oppression in the Middle East and North Africa. We're driven by our passion for civil engagement, freedom of speech, and employing innovative solutions to pervasive and persistent human problems.
    </p>
    <br/>
    <h3>Funding</h3>
    <br/>
    <p>
        CrowdVoice is entirely self-funded, and relies on donations of time and effort by dedicated volunteers. We welcome socially conscious investors worldwide.
    </p>
    <br/>
    <h3>Contact</h3>
    <br/>
    <p>
        For more information, contact the founder Esra'a Al Shafei via <a href="mailto:director@mideastyouth.com">director@mideastyouth.com</a>
    </p>
    <br />
    <h3>What people are saying</h3>
    <blockquote>
      An incredibly powerful tool for discovering voices of dissent"
      <span>Reza Aslan</span>
    </blockquote>
    <blockquote>
      Consider Crowdvoice for updates on issues that matter to you"
      <span>Ashoka Peace</span>
    </blockquote>
    <blockquote>
      Awesome site. The best part? You can subscribe to/follow any article or voice that piques your interest, which means one less excuse that I have to fall behind in my current events"
      <span>Diana Hsu, Idealist.org</span>
    </blockquote>
    <blockquote>
      This is fantastic!"
      <span>Farhad Mohit, Founder &amp; CEO, DotSpots</span>
    </blockquote>
    <blockquote>
      CrowdVoice is a very simple site, and that's excellent. It's easy for people to access a lot of great infomation and unheard voices on very important issues"
      <span>Nicholas Woods, interaction designer</span>
    </blockquote>
    <br/>
    <h3>Social</h3>
    <ul class="social">
      <li>
        <a href="http://www.twitter.com/crowdvoice"><img src="/images/twitter.png" alt="Follow CrowdVoice on Twitter"/></a>
      </li>
      <li>
        <a href="http://www.facebook.com/crowdvoice"><img src="/images/facebook.png" alt="Follow CrowdVoice on Facebook"/></a> 
      </li>
    </ul>
</div>
