.bundle
db/*.sqlite3
log/*.log
tmp/**/*
db/schema.rb
.rvmrc
.DS_Store
public/system
data/
*.swp
*.swo
config/database.yml
config/cloud_files.yml
config/config.yml
config/imod_config.yml
config/initializers/setup_mail.rb
config/rackspace_cloudfiles.yml
db/seeds.rb
config/initializers/hoptoad.rb

