.helptip-modal{ position: absolute; z-index: 10; height: 100%; width: 100%; left: 0; top: 0; background: transparent url('/images/tut-bg-dot-black.png') 0 0 repeat; display: none; }
.helptip-modal .helptip-tuto{ width: 255px; height: 140px; margin: 125px auto; background-color: #fff; background: -moz-linear-gradient(top, #fff, #cecbcb); background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#cecbcb)); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fff, endColorstr=#cecbcb); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fff, endColorstr=#cecbcb)"; border: 4px solid #242424; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -khtml-border-radius: 4px; text-align: center; color: #2d2d2d; position: relative; box-shadow: inset 0 0 1px 1px #fff; -moz-box-shadow: inset 0 0 1px 1px #fff; -webkit-box-shadow: inset 0 0 1px 1px #fff; }
.helptip-modal a.tuto-close{ display: block; font-size: 0; line-height: 0; text-indent: -9999px; height: 24px; width: 24px; position: absolute; top: 0; right: 0; background: transparent url('/images/tut-btn-close.png') 0 0 no-repeat; }
.helptip-modal .helptip-tuto h1{ font-size: 25px; margin-top: 21px; margin-bottom: 2px; text-shadow: 0 2px 1px #fff; color: #000; }
.helptip-modal .helptip-tuto span{ font-size: 17px; text-shadow: 0 1px 1px #fff; }
.helptip-modal .helptip-tuto ul{ width: 185px; margin: 12px auto; }
.helptip-modal .helptip-tuto ul li:first-child{ margin-left: 0; }
.helptip-modal .helptip-tuto ul li.tuto-no{ float: left; padding-top: 8px; }
.helptip-modal .helptip-tuto ul li.tuto-no a{ font-size: 14px; color: #545454; }
.helptip-modal .helptip-tuto ul li.tuto-ok{ float: right; }
.helptip-modal .helptip-tuto ul li.tuto-ok a{ color: #fff; display: block; background-color: #009d83; background: -moz-linear-gradient(top, #00bea9, #008469); background: -webkit-gradient(linear, center top, center bottom, from(#00bea9), to(#008469)); filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#00bea9, endColorstr=#008469); -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#00bea9, endColorstr=#008469)"; border-top: 1px solid #87e6db; border-right: 1px solid #009f8d; border-bottom: 1px solid #051210; border-left: 1px solid #009f8d; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -khtml-border-radius: 2px; font-size: 16px; font-weight: bold; padding: 6px 9px; text-shadow: 0 -1px 1px #005041; box-shadow: inset 0 1px 1px #00bdaa; -moz-box-shadow: inset 0 1px 1px #00bdaa; -webkit-box-shadow: inset 0 1px 1px #00bdaa; }

.helptip-dottip{ display: none; font-family: Helvetica, Arial, Verdana, sans-serif; position: absolute; z-index: 10; height: 23px; width: 23px; }

.helptip-dottip .boxtip{ position: absolute; clear: both; min-width: 250px; padding: 15px; box-shadow: inset 0 0 1px 1px #fff; -moz-box-shadow: inset 0 0 1px 1px #fff; -webkit-box-shadow: inset 0 0 1px 1px #fff; border: 2px solid #000; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -khtml-border-radius: 3px; }
.helptip-dottip .boxtip h4{ font-size: 14px; font-weight: bold; color: #101010; margin-bottom: 8px; white-space: nowrap; }
.helptip-dottip .boxtip p{ color: #555f6a; margin-bottom: 3px; }
.helptip-dottip .boxtip > .close-tip { color: #888; float: right; margin: -10px; }

.helptip-dottip .dottip-container{ position: absolute; z-index: 20; }

.helptip-dottip .arrowtip{ height: 100%; width: 100%; position: absolute; z-index: 30; background: transparent url('/images/dottip-blue-arrow.png') 0 0 no-repeat; }

.helptip-dottip.dt-top .dottip-container,
.helptip-dottip.dt-bottom .dottip-container{ height: 9px; width: 21px; }
.helptip-dottip.dt-right .dottip-container,
.helptip-dottip.dt-left .dottip-container{ height: 21px; width: 9px; }

.helptip-dottip.dt-top .arrowtip{ background-position: -9px bottom; }
.helptip-dottip.dt-right .arrowtip{ background-position: left -9px; }
.helptip-dottip.dt-bottom .arrowtip{ background-position: 0 top; }
.helptip-dottip.dt-left .arrowtip{ background-position: right 0; }

.helptip-dottip.dt-top .dottip-container{ bottom: 23px; }
.helptip-dottip.dt-right .dottip-container{ left: 23px; }
.helptip-dottip.dt-bottom .dottip-container{ top: 23px; }
.helptip-dottip.dt-left .dottip-container{ right: 23px; }

.helptip-dottip.dt-top .boxtip{ bottom: 6px; }
.helptip-dottip.dt-right .boxtip{ left: 6px; }
.helptip-dottip.dt-bottom .boxtip{ top: 6px; }
.helptip-dottip.dt-left .boxtip{ right: 6px; }

.helptip-dottip.dt-top .boxtip,
.helptip-dottip.dt-bottom .boxtip{ left: -2px; }

.helptip-dottip.dt-right .boxtip,
.helptip-dottip.dt-left .boxtip{ top: -2px; }

.helptip-dottip.dt-blue{ background: transparent url('/images/dottip-blue.png') 0 0 no-repeat; }
.helptip-dottip.dt-blue .boxtip{ background-color: #d8e3f1; }

