html, body {background-color: #212121;overflow-x: hidden; }
body,ul,p,h1,h2,h3,form		{margin: 0; padding: 0}
body											{font-family: Arial, Helvetica; font-size: 12px;}
ul, ul li									{list-style: none}
img												{border: none}
a													{text-decoration: none;}
a:hover										{text-decoration: underline}
.clear 										{clear:both}
.left											{float: left;}
.right										{float: right;}
.hide-text 								{font-size: 0; line-height: 0; display: block; text-indent: -9999px;}
.aligned									{width: 800px; margin: 0 auto}
.voices-wrapper						{position: relative;}
#slides 									{position:relative; width:800px; height:594px}
.voices										{width: 4000px; height: 594px; position:relative; left:0; top:0}
.voices  > li							{width: 800px; height: 594px; float: left}
.shadow										{width: 800px; height: 594px; background: url('/images/pattern.png'); position: absolute; top: 0}
.shadow.left							{left: -800px}
.shadow.right							{right: -800px}
.content									{position: absolute; top: 0; left: 0; width: 100%; height: 100%}
.sidebar									{width: 154px;margin-left: 20px;}
.sidebar > h1							{height: 216px; background: url('/images/crowdvoice-tracking-voices-of-protest.png') no-repeat; text-indent: -9999px; font-size: 20px; text-align: center; margin-bottom: 15px}
.sidebar p								{width: 128px; padding: 0 13px; color: #444444; line-height: 15px}
.red-pattern							{height: 14px; background: url('/images/red-pattern.jpg')}
.active-voices						{position: absolute; right: 0; top: 3px; float: right; overflow: hidden}
.active-voices > div			{background-color: rgba(210, 0, 18, .89); width: 26px; height: 117px; float: right; text-indent: -9999px;  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#CFD20012', EndColorStr='#CFD20012');}
.active-voices > div > div{height: 100%;  background-image: url('/images/top-voices.png'); background-repeat: no-repeat; background-position: 8px 14px; }
.active-voices h2					{font-size: 18px; font-weight: normal; color: #ffffff; white-space: nowrap; width: 105px; height: 26px; float: left; margin-top: 91px; padding-left: 12px; margin-left: 26px; line-height: 1.5; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -moz-transform-origin: 0 100%; -webkit-transform-origin: 0 100%;}
.active-voices ul					{float: right}
.active-voices ul li			{float: right; clear: both; white-space: nowrap; background-color: rgba(255, 255, 255, .9); margin-bottom: 3px; height: 21px; line-height: 2; filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#E5FFFFFF', EndColorStr='#E5FFFFFF');}
.active-voices ul li a		{padding: 0 12px; display: block; color: #444444; font-weight: bold}
.active-voices .active		{background-color: rgba(210, 0, 18, .76); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#C2D20012', EndColorStr='#C2D20012');}
.active-voices .active a	{background: url('/images/black-arrow.png') no-repeat 7px 5px; color: #ffffff; padding-left: 21px;}
.more-voices 							{position: absolute; right: 26px; top:132px;}
.fb-like 							{position: absolute; right: 26px; top:162px;}
.search-wrapper						{position: absolute; bottom: 140px; left: 194.5px; width: 411px; padding-left: 11px; background: url('/images/search-bg.png') no-repeat}
.search										{background: url('/images/search-bg.png') no-repeat right -132px; width: 398px; padding-right: 11px; margin: 0}
.search > div							{background: url('/images/search-bg.png') repeat-x 0 -66px; height: 46px; padding: 10px 0}
.input-search-wrapper			{background: url('/images/search-bg.png') no-repeat 0 -198px; padding-left: 7px; width: 393px; float: left; margin-right: 5px;}

.ajax-loader .search_close {position: absolute; top: 11px; right: 12px; cursor: pointer;}
.ajax-loader .search_ajax {position: absolute; top: 14px; right: 14px;}

.input-search							{background: url('/images/search-bg.png') no-repeat right -288px; padding-right: 7px; width: 383px; float: left}
.input-search input				{background: url('/images/search-bg.png') repeat-x 0 -243px; height: 45px; padding-bottom: 0; padding-top: 0; width: 383px; border: none; outline: none; font-size: 22px; font-family: 'Arial'; color: #a9a9a9; margin: 0; overflow: hidden; float: left; line-height: 2\9;}
.request-link							{background: url('/images/request-button.png') 0 0 no-repeat; padding: 9px 19px; font-size: 14px; display: block; color: #b3b3b3 !important; text-transform: uppercase;}
.request-link:hover							{background-position: 0 -34px; text-decoration: none;}
.footer										{background: #1b1b1b url('/images/footer-separation.png') 0 0 repeat-x; padding-top: 15px; padding-bottom: 10px; font-size: 12px; color: #737373; overflow: hidden;}
.footer2 {background: transparent; font-size: 12px; color: #737373; overflow: hidden;}
.footer > .aligned > .about { width: 475px; text-align: right; line-height: 1.4em; }
.footer > .aligned > .about > a {color: #d3d3d3}
#next											{display: none}

.tooltip{ position: relative; z-index: 11; }
.tooltip > .dropdown{ position: absolute; display: none; }
.box.rounded{ white-space: normal; }
.box.rounded.gray{ color: #4f5453; }
.rounded.gray .hc, .rounded.gray .fc{ height: 8px; }
.rounded.gray .hl, .rounded.gray .ml, .rounded.gray .fl{ padding: 0 0 0 8px; }
.rounded.gray .hr, .rounded.gray .mr, .rounded.gray .fr{ padding: 0 8px 0 0; }
.box.gray .hl, .box.gray .hr, .box.gray .fl, .box.gray .fr{ background: transparent url('/images/rc-gray-x.png') no-repeat; }
.box.gray .hc, .box.gray .fc{ background: transparent url('/images/rc-gray-x.png') repeat-x; }
.box.gray .ml, .box.gray .mr{ background: transparent url('/images/rc-gray-y.png') repeat-y; }
.box.gray .mc{ background-color: #f7f7f7; }
.box.rounded.gray .hl{ background-position: left 0; }
.box.rounded.gray .hl > .hr{ background-position: right -8px; }
.box.rounded.gray .hl > .hr > .hc{ background-position: 0 -40px; }
.box.rounded.gray .fl{ background-position: left -16px; }
.box.rounded.gray .fl > .fr{ background-position: right -24px; }
.box.rounded.gray .fl > .fr > .fc{ background-position: 0 -32px; }
.box.rounded.gray .ml{ background-position: left -32px; }
.box.rounded.gray .ml > .mr{ background-position: right -40px; }
.box.gray .ml > .mr > .mc{ padding: 5px 10px 10px 10px; }
.box.gray .ml > .mr > .mc2{ padding: 0; }

.content .copyright { display: block; width: 10px; height: 10px; position: absolute; bottom: 8px; right: 12px; cursor: pointer; color: #fff; z-index: 9999; }

.voices-list { }
.voices-list ul { list-style-position:outside; width: 380px; padding-left: 15px; margin: 20px 0;}
.voices-list ul li { list-style: disc; font-size: 12px; margin-bottom: 5px;}
.voices-list ul li a { color: #848484; }
.voices-list ul li a span { color: #4f4e4e; }
.voices-list ul li a:hover { color: #fff; text-decoration: none;}
.voices-list ul li a:hover span { color: #fff; text-decoration: none; }

.search_close { cursor: pointer;}