<% flash.each do |key, msg| %>
  <%= content_tag :div, :class => "flash #{key}" do %>
    <p>
      <%= key.to_sym == :alert ? "Oops!" : "Success!" %>
    </p>
    <p>
      <%= msg %>
    </p>
  <% end %>
<% end %>
